.example-card {
    width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-grid-tile {
      border: 2px solid black;
      width: 50px;
  }

  mat-grid-list {
    margin: 0px 300px;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }