<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="home">
          <span>Home</span>
        </button>
        <mat-menu #home="matMenu"></mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="gallery">
          <span>Gallery</span>
        </button>
        <mat-menu #gallery="matMenu">
          <a mat-menu-item href="https://material.angular.io/components/menu/examples">
            <span>Redial</span>
          </a>
          <button mat-menu-item>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>


  

<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile 
      *ngFor="let tile of tiles">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{tile.location}}</mat-card-title>
          <mat-card-subtitle>{{tile.date}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
